html,
button,
input,
select,
textarea,
body {
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding:0;
  margin:0;
  background: $bg-color;  
}

img {
  vertical-align: middle;
}

// Horizontal rules

hr {
  margin-top:    $lh;
  margin-bottom: $lh;
  border: 0;
  border-top: 1px solid $gray;
}


