// Body

body {
  color: $text-color;
  font-weight: 400;
  font-size: $font-size;
  @include bp(mobile) {
  	font-size: 87.5%;
  }
}

// Headings

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
	font-weight: 700;
	margin-bottom: rem(10px);
	small, .small {
    font-weight: 400;
    line-height: 1;
    color: lighten($text-color, 20%);
    font-size: 75%;
	}
}

$h1-size:      $heading-size;                  // 36px
$h2-size:      $h1-size / 1.2;                 // 30px
$h3-size:      $h1-size / 1.5;                 // 24px
$h4-size:      $h1-size / 2;                   // 18px
$h5-size:      $h1-size / 2.25;                // 16px
$h6-size:      $h1-size / 2.57;                // 14px


h1, .h1 {
	font-size: $h1-size;
	line-height: $lh - 0.5;
}
h2, .h2 {
	font-size: $h2-size;
	line-height: $lh - 0.5;
}
h3, .h3 {
	font-size: $h3-size;
	line-height: $lh - 0.3;
}
h4, .h4 {
	font-size: $h4-size;
	line-height: $lh - 0.3;
}
h5, .h5 {
	font-size: $h5-size;
	line-height: $lh - 0.3;
}
h6, .h6 {
	font-size: $h6-size;
	line-height: $lh - 0.3;
}

@include bp(mobile) {
	h1, .h1 {
		font-size: $h1-size * 0.875;
	}
	h2, .h2 {
		font-size: $h2-size * 0.875;
	}
	h3, .h3 {
		font-size: $h3-size * 0.875;
	}
	h4, .h4 {
		font-size: $h4-size * 0.875;
	}
}


// Paragraph

p {
	font-size: $font-size;
	line-height: $lh;
	margin-bottom: rem(18px);
	&.last-p {
		margin-bottom: rem(30px);
	}
}

p, span {
	&.large {
		font-size: 110%;
	}
	&.small {
		font-size: 87.5%;
	}
}

// Links

a {
	color: $link-color; 
	text-decoration: none;
	background: transparent;
  	transition: color .3s ease-in-out;
	&:visited { 
		color: $purple; 
	}
	&:active  { 
		color: $orange; 
	}
	&:hover, &:focus   { 
		color: darken($link-color, 10%);
		text-decoration: underline;
		outline: 0;
	}
	&:focus {
		outline: thin dotted;
	}
}


// Helpful Text Classes

.italic {
	font-style:italic;
	color: lighten($text-color, 10%);
}
.bold {
	font-weight: 700;
	color: darken($text-color, 10%);
}
.underline {
	text-decoration:underline;
}
.caps {
	text-transform: uppercase;
}
.fancy:before {
	content: "\274B  ";
	font-size: inherit;
	color:inherit;
}
.req:after {
  content: " *";
  color:$red;
}
.arrow:after {
	content: "\279E";
}

// Potent Potables

q {
  	quotes: "\201C" "\201D" "\2018" "\2019";
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

// Keystroke

.key, kbd {
  background-color: lighten($link-color, 20%);
  color: adjust-color($link-color, $saturation: -20%, $lightness: -5%);
  padding:3px;
  border-radius:3px;
  font-family: 'Monaco', 'Menlo', 'Consolas', 'Courier New', Courier, monospace;
}
