// Populate this list for colors to be used in backgrounds, buttons and text.

$colors: (
	navy: 			$navy,
	blue: 			$blue,
	cyan: 			$cyan,
	teal: 			$teal,
	olive: 			$olive,
	green: 			$green,
	lime: 			$lime,
	yellow: 		$yellow,
	orange: 		$orange,
	red: 			$red,
	magenta: 		$magenta,
	purple: 		$purple,
	maroon: 		$maroon,
	white: 			$white,
	silver: 		$silver,
	gray: 			$gray,
	black: 			$black
);

// Background colors

@each $color, $color-value in ($colors) {
  .bg-#{$color} {
    background-color: adjust-color($color-value, $lightness: 30%, $saturation: -20%);
    padding:rem(15px);
    &.bg-indent {
      border-left: rem(5px) solid $color-value;
    }
  }
}

// Text Colors

@each $color, $color-value in ($colors) {
  .text-#{$color} {
    color: $color-value !important;
  }
}

// Button Colors

@each $color, $color-value in $colors {
  .btn-#{$color} {
    background-color: $color-value;
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: darken($color-value, 8%);
      text-decoration: none;
    }
  }
}

// Alert and Validation Colors

$warn-bg:			adjust-color($yellow, $lightness: 40%, $saturation: -25%);
$warn-text:			adjust-color($yellow, $lightness: -15%, $saturation: -10%);

$neg-bg:			adjust-color($red, $lightness: 35%, $saturation: -15%);
$neg-text:			adjust-color($red, $lightness: -5%, $saturation: -25%);

$fyi-bg:			adjust-color($cyan, $lightness: 30%, $saturation: -15%);
$fyi-text:			adjust-color($cyan, $lightness: -10%, $saturation: -10%);

$pos-bg:			adjust-color($green, $lightness: 45%, $saturation: -15%);
$pos-text:			adjust-color($green, $lightness: -10%, $saturation: -15%);

$alert-colors: (
	warn: (
		bg:				$warn-bg,
		text:			$warn-text,
		icon:			"\e655",
	),
	neg: (
		bg:				$neg-bg,
		text:			$neg-text,
		icon:			"\e653",
	),
	fyi: (
		bg:				$fyi-bg,
		text:			$fyi-text,
		icon:			"\e656",
	),
	pos: (
		bg:				$pos-bg,
		text:			$pos-text,
		icon:			"\e652"
	)
);


// Alert Colors

@each $alert-name in map-keys($alert-colors) {
  .alert-#{$alert-name} {
    @include alerts($alert-name);
  }
}