// Wrap the Google Form code around a div class of .gform

.gform {
  [class*="ss-grid-"]{
    width:100%;
    float:none;
    padding:0;
  }
  input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio]), select {
    display: block;
    width: 100%;
    border: 0.0625rem solid $form-color;
    height: 2.20833rem;
    padding: 0.5rem;
    font-size: 0.875rem;
    line-height: $lh;
    color: $black;
    background-color: white;
    background-image: none;
    border-radius: 0rem;
    margin-bottom: 1em;
  }

  .ss-q-help {
    font-size: 0.75rem;
    font-style: italic;
    color: $gray;
  }

  .ss-choice-label {
    font-weight:normal;
  }
  .required-message {
    display:none;
  }
  .goog-inline-block {
    display:inline-block;
  }
  .ss-required-asterisk {
    color:$red;
  }
  .ss-form-question {
    margin-bottom: rem(30px);
    table {
      @extend .table;
      thead {
        background: lighten($silver, 10%);
      }
    }
  }

  .error {
    color:$red;
    font-size: rem(12px);
    font-weight:400;
    .gError {
      margin-bottom:0;
    }
  }
}