section {
  width: 100%;
}

.container {
  width: 97%;
  max-width: $maxWidth;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

.group {
  @include clearfix();
  margin: 1em (-1 * $gutter);
}

// ------- //
// LE GRID //
// ------- //

%grid {
  margin: $gutter;
  float:left;
  min-height:1px;
  width: 100% - (2 * $gutter);
}

@for $i from 1 through $columns {
  .d#{$i} {
    @extend %grid;
  }
}

@include bp(mobile) {
  @for $i from 1 through $columns {
    .m#{$i} {
      width: ($col-width * $i) - (2 * $gutter);
    }
  }
}

@include bp(desktop) {
  @for $i from 1 through $columns {
    .d#{$i} {
      width: ($col-width * $i) - (2 * $gutter);
    }
    .o#{$i} {
      margin-left: $col-width * $i;
    }
  }
  .flip {
    float: right;
  }
}