@font-face {
	font-family: 'icons';
	src:url('../icons/icons.eot?h9e3z');
	src:url('../icons/icons.eot?#iefixh9e3z') format('embedded-opentype'),
		url('../icons/icons.woff?h9e3z') format('woff'),
		url('../icons/icons.ttf?h9e3z') format('truetype'),
		url('../icons/icons.svg?h9e3z#giadcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-lg {
  font-size: 1.33em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.icon-2x {
  font-size: 2em;
}
.icon-3x {
  font-size: 3em;
}
.icon-4x {
  font-size: 4em;
}
.icon-5x {
  font-size: 5em;
}

.icon-check:before {
	content: "\e600";
}
.icon-x:before {
	content: "\e601";
}
.icon-donut:before {
	content: "\e602";
}
.icon-home:before {
	content: "\e603";
}
.icon-pencil:before {
	content: "\e65c";
}
.icon-image:before {
	content: "\e604";
}
.icon-library:before {
	content: "\e605";
}
.icon-files:before {
	content: "\e606";
}
.icon-ticket:before {
	content: "\e65d";
}
.icon-cart:before {
	content: "\e607";
}
.icon-cc:before {
	content: "\e608";
}
.icon-phone:before {
	content: "\e609";
}
.icon-location:before {
	content: "\e60a";
}
.icon-clock:before {
	content: "\e60b";
}
.icon-alarm:before {
	content: "\e60c";
}
.icon-cal:before {
	content: "\e60d";
}
.icon-print:before {
	content: "\e60e";
}
.icon-desktop:before {
	content: "\e60f";
}
.icon-laptop:before {
	content: "\e610";
}
.icon-mobile:before {
	content: "\e611";
}
.icon-download:before {
	content: "\e612";
}
.icon-upload:before {
	content: "\e613";
}
.icon-bubbles:before {
	content: "\e614";
}
.icon-user:before {
	content: "\e615";
}
.icon-users:before {
	content: "\e616";
}
.icon-quotes-left:before {
	content: "\e617";
}
.icon-spin:before {
	content: "\e618";
}
.icon-spin-b:before {
	content: "\e619";
}
.icon-zoom-in:before {
	content: "\e61a";
}
.icon-zoom-out:before {
	content: "\e61b";
}
.icon-lock:before {
	content: "\e61c";
}
.icon-unlock:before {
	content: "\e61d";
}
.icon-gear:before {
	content: "\e61e";
}
.icon-chart:before {
	content: "\e61f";
}
.icon-trash:before {
	content: "\e620";
}
.icon-list:before {
	content: "\e621";
}
.icon-link:before {
	content: "\e622";
}
.icon-paperclip:before {
	content: "\e623";
}
.icon-eye:before {
	content: "\e65b";
}
.icon-bookmark:before {
	content: "\e624";
}
.icon-star:before {
	content: "\e625";
}
.icon-star-b:before {
	content: "\e626";
}
.icon-thumb-up:before {
	content: "\e627";
}
.icon-thumb-down:before {
	content: "\e628";
}
.icon-warn:before {
	content: "\e629";
}
.icon-arrow-ul:before {
	content: "\e62a";
}
.icon-arrow-up:before {
	content: "\e62b";
}
.icon-arrow-ur:before {
	content: "\e62c";
}
.icon-arrow-right:before {
	content: "\e62d";
}
.icon-arrow-dr:before {
	content: "\e62e";
}
.icon-arrow-down:before {
	content: "\e62f";
}
.icon-arrow-dl:before {
	content: "\e630";
}
.icon-arrow-left:before {
	content: "\e631";
}
.icon-gplus:before {
	content: "\e632";
}
.icon-gplus-sq:before {
	content: "\e633";
}
.icon-fb:before {
	content: "\e634";
}
.icon-fb-square:before {
	content: "\e635";
}
.icon-twitter:before {
	content: "\e636";
}
.icon-twitter-square:before {
	content: "\e637";
}
.icon-vimeo:before {
	content: "\e638";
}
.icon-vimeo-square:before {
	content: "\e639";
}
.icon-github:before {
	content: "\e63a";
}
.icon-out:before {
	content: "\e63b";
}
.icon-in:before {
	content: "\e63c";
}
.icon-sm-home:before {
	content: "\e63d";
}
.icon-sm-search:before {
	content: "\e63e";
}
.icon-sm-zoom-in:before {
	content: "\e63f";
}
.icon-sm-zoom-out:before {
	content: "\e640";
}
.icon-sm-add:before {
	content: "\e641";
}
.icon-sm-minus:before {
	content: "\e642";
}
.icon-sm-ex:before {
	content: "\e643";
}
.icon-sm-question:before {
	content: "\e644";
}
.icon-sm-close:before {
	content: "\e645";
}
.icon-sm-forbid:before {
	content: "\e646";
}
.icon-sm-envelope:before {
	content: "\e647";
}
.icon-compose:before {
	content: "\e65e";
}
.icon-sm-cal:before {
	content: "\e648";
}
.icon-sm-trash:before {
	content: "\e649";
}
.icon-sm-clock:before {
	content: "\e64a";
}
.icon-sm-paperclip:before {
	content: "\e64b";
}
.icon-sm-cog:before {
	content: "\e64c";
}
.icon-sm-user:before {
	content: "\e64d";
}
.icon-sm-users:before {
	content: "\e64e";
}
.icon-sm-desktop:before {
	content: "\e64f";
}
.icon-sm-phone:before {
	content: "\e650";
}
.icon-sm-tablet:before {
	content: "\e651";
}
.icon-check-circle:before {
	content: "\e652";
}
.icon-cancel-circle:before {
	content: "\e653";
}
.icon-plus-circle:before {
	content: "\e654";
}
.icon-minus-circle:before {
	content: "\e655";
}
.icon-ex-circle:before {
	content: "\e656";
}
.icon-invade:before {
	content: "\e657";
}
.icon-bomb:before {
	content: "\e658";
}
.icon-info-circle:before {
	content: "\e65a";
}
.icon-rocket:before {
	content: "\e659";
}